.App {
  text-align: center;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

input, button{
  width:200px;
  height:30px;
  font-size: 15px;
  margin: 5px;
}
.content{
  width:540px;
  height:200px;
  border:2px solid black;
  margin:10px;
}